@using DancingGoat.InlineEditors
@using DancingGoat.Widgets

@model RecWidgetViewModel


<div class="articles-section">
    <div class="row">
        @foreach (var rec in Model.Recommendations)
        {
            <h4>@rec</h4>
        }
    </div>
</div>